*.pdf
*.txt
cifar-10-python.tar.gz
GeoEstimation/models
GeoEstimation/resources/images
GeoEstimation/resources/yfcc25600_places365.csv
GeoEstimation/resnet50_places365.pth.tar
lightning_logs
cifar-10-batches-py
.ipynb_checkpoints
.idea